.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 20px 20px;

}
.footer {
    background-color: rgb(167, 196, 109);
    padding: 15px;
    margin: 50px auto;
}
.header {
    background-color: rgb(251, 89, 30);
    padding: 15px;
    margin: auto;
}
#headera {
    color: white;
}
.grid-container div a {
    color: rgb(13, 124, 13);
    padding: 20px;
            }
    .grid-container div img {
        padding: 20px 20px 0 20px;
        }

.grid-container div {
        padding: 0 20px 0 20px;
        }
a { text-decoration: none !important; }
h1 {
    color:rgb(13, 124, 13);
}

table th {
background-color: white;
}
tr:nth-child(odd) {
    background-color: lightgrey;
}
